<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901024076132-tn3bl73o529545mnm559vuu01bkba0l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901024076132-tn3bl73o529545mnm559vuu01bkba0l2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSjZ8v3dM22RiJ1QKWoJIWgoe9k761xmc</string>
	<key>GCM_SENDER_ID</key>
	<string>901024076132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oyaridedriver.AppleIOS</string>
	<key>PROJECT_ID</key>
	<string>oyaride-dddd9</string>
	<key>STORAGE_BUCKET</key>
	<string>oyaride-dddd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901024076132:ios:f2f7b42712a56de59c2a71</string>
</dict>
</plist>